<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
  <header> 
    <h1>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        
    </h1>
    
    <p> Aca va la barra de busqueda</p>
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayudas</a></li>

            
        </ul>
    </nav>

</header>
     <main> 
        <section>
            <h2> 
                Basado en tu última visita
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg">
            </h2>
             <articles>
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>

             </articles>
        </section>
     </main>
</body>
</html>